
<button id="modal-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#coursesModal">
    View Courses
  </button>
  
  <!-- The Bootstrap Modal -->
  <div class="modal fade" id="coursesModal" tabindex="-1" aria-labelledby="coursesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="coursesModalLabel">Available Courses</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- recipeApp.js will append cards here -->
        </div>
      </div>
    </div>
  </div>
  